<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>Opa</h1>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>

  </div>

  <div class="row">

    <h1 ng-bind="main.timestamp"></h1>
    <!-- <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'"> -->
    <div class="col-sm-12 col-md-12" >
      <div class="thumbnail center-block">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3 ng-bind="main.awesomeThing.title"></h3>
          <p ng-bind="main.awesomeThing.description"></p>
          <p><a ng-href="{{main.awesomeThing.url}}">{{ main.awesomeThing.url }}</a></p>

          <p> {{ main.awesomeThing.title }} </p>
          <p ng-bind="main.awesomeThing.title"></p>
        </div>
      </div>
    </div>
  </div>

</div>
